body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
th,td{
  text-align: center;
}
button{
  margin: 0 10px 0 2px;
}
.addSection{
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 5px;
}
.error{
  color: red;
}
label{
  padding: 0 0 4px 2px;
}
.authorButton{
  margin-top: 29px;
}
table{
  border: 1px solid black;
  margin-top: 20px;
}
.headerColor{
  background-color: #a1b1b5;
}
.tableSize{
  padding-right: 0px;
  padding-left: 0px;
}